
.bid_car_aria {
    padding: 25px;
}
.bid_menu{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bid_menu button{
    width: 100%;
    border: none;
    padding: 10px 0;
    background: #623C57;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat';
}
.bid_menu button:nth-child(2){
    border-left:1px solid #7E5472 !important;
    border-right:1px solid #7E5472 !important;
}
.bid_menu button:nth-child(1){
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.bid_menu button:nth-child(3){
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.bidMenuactive{
    background: #7E5472 !important;

}
.car-img_bg {
    height: 180px;
    background-color: #623d57;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    position: relative;
}
.top_belt_greenColor{
    height: 30px;
    background: #00A993;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.top_belt_redColor{
    height: 30px;
    background: #B0355A;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.top_belt_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.top_belt_div p {
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    font-family: 'Montserrat';
}
.car-time i {
    font-size: 15px;
    margin-right: 5px;
}
.car-title_bid{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.car-bid_btn {
    background: #dddddd94;
    border-radius: 20px;
    padding: 2px 9px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.car-bid_btn:hover{
    background-color:#b892ac;
    color: #fff;
}
.car-share_Mark button {
    color: #623d57;
    font-size: 16px;
    font-family: 'Montserrat';
}
.car-share_Mark button:hover{
    color: #623d57;
    opacity: .8;
}
p.car-descrip {
    font-weight: 400;
    line-height: 1.2;
    padding: 5px 0;
    font-size: 14px;
    margin: 0;
    margin-bottom: 2px;
    font-family: 'Montserrat';
}
.car-brand_smal {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.car-location_smal{
    font-size: 14px;
    font-weight: 600;
}
.car-location_smal img {
    width: 18px;
    border-radius: 20px;
}

.won_bg::after{
    background: #B2375D;
}