.my_marksed {
    padding: 10px;
  }
  .my_marksed h4 {
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    font-family: 'Montserrat';
  }
  .my_marksed h4::before {
    position: absolute;
    content: "";
    left: 1%;
    bottom: -4px;
    width: 10%;
    height: 2px;
    background: #623c57;
}
.mark_car_aria {
    padding: 25px;
}

.mark_car-img_bg {
    height: 180px;
    background-color: #623d57;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    position: relative;
}

.car-title_bid{
    font-size: 18px;
    font-weight: 700;
}
.car-bid_btn {
    background: #dddddd94;
    border-radius: 20px;
    padding: 2px 9px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.car-bid_btn:hover{
    background-color:#b892ac;
    color: #fff;
}
.car-share_Mark button {
    color: #623d57;
    font-size: 16px;
    font-family: 'Montserrat';
}
.car-share_Mark button:hover{
    color: #623d57;
    opacity: .8;
}
p.car-descrip {
    font-weight: 400;
    line-height: 1.2;
    padding: 5px 0;
    font-size: 14px;
    margin: 0;
    margin-bottom: 2px;
    font-family: 'Montserrat';
}
.car-brand_smal {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.car-location_smal{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.car-location_smal img {
    width: 18px;
    border-radius: 20px;
}

