.acount_menu_body {
  background: #7e5472;
  padding: 20px 0;
  border-radius: 20px;
  /* position: fixed;
  width: 22%; */
}
.acount_menu_link {
  background: #623c57;
  padding: 25px 20px;
}

.acount_menu_link li {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  padding: 5px;
  border-radius: 50px;
  line-height: 26px;
  cursor: pointer;
  margin: 20px 0;
}
.acount_menu_link li a {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.liActive {
  background: #7e5472;
}
.icon {
  width: 27px;
  margin-left: 10px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
}
.acount_menu_link li .icon img {
  width: 15px;
  height: 15px;
  margin-top: -3px;
}
.acount_menu_link li span {
  margin-left: 30px;
  color: #fff;
  text-transform: capitalize;
  opacity: 0.8;
}

small.notification_live {
  background: red;
  padding: 0px 4px;
  border-radius: 30px;
  font-size: 10px;
  margin-left: 10px;
}