.upload {
    padding: 10px;
  }
  .upload h4 {
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
  }
  .upload h4::before {
    position: absolute;
    content: "";
    left: 1%;
    bottom: -4px;
    width: 9%;
    height: 2px;
    background: #623c57;
  }
  .upload_item{
      text-align: center;
      width: 100%;
  }
  .border_1 {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    z-index: 1;
}
.border_1::after{
    position: absolute;
    content: "";
    top: -8px;
    left: 8px;
    width: 100%;
    height: 100%;
    border: 3px solid #623c57;
    border-radius: 20px;
    z-index: -1;
}
.border_1::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #623c57;
    border-radius: 20px;
    z-index: -1;
}
.border_1 h3 {
    padding: 20px;
    color: #7E5472;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    position: relative;
}
.border_1 .auction_hidding_step3::before {
    position: absolute;
    bottom: 15px;
    left: 41%;
    width: 18%;
    content: "";
    height: 2px;
    background: #7E5472;
}


/* color picker fileld */
.color_picker {
    width: 90%;
    margin: auto;
    position: relative;
    top: 50px;
    text-align: center;
    color: #7E5472;
    font-weight: 600;
}
.ReactColorPicker-module_react_color_picker__1OEfS .ReactColorPicker-module_details__106p_ {
    
    justify-content: center !important;
}
.ReactColorPicker-module_react_color_picker__1OEfS .ReactColorPicker-module_details__106p_ .ReactColorPicker-module_hex_value__10kKY {
    width: 80px;
    margin-left: 5px;
    border-radius: 10px !important;
    border: 1px solid #7E5472;
    padding: 2px;
}

.dable_btn_Step3 {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 130px;
}
.dable_btn_Step3 .prev_btn{
    left: 0%;
}
.dable_btn_Step3 .prev_btn i{
    line-height: 27px;
    margin-right: 7px;
}
.dable_btn_Step3 button.next_btn, .dable_btn_Step3 .prev_btn {
    color: #fff;
    width: 105px;
    display: flex;
    position: relative;
    left: 0% !important;
    top: 60px;
    background: #623C57;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    padding: 6px;
    justify-content: center;
    line-height: 28px;
}
button.next_btn i {
    line-height: 29px;
    margin-left: 15px;
}