.sell_secion {
    width: 60% !important;
    margin: auto;
    min-height: 500px;
    margin-top: 40px !important;
}

.sell_hidding h4 {
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat';
}
  .sell_hidding h4::before {
    position: absolute;
    content: "";
    left: 27%;
    bottom: -4px;
    width: 46%;
    height: 2.5px;
    background: #623c57;
    text-align: center;
}
  .sell_text p {
    padding: 35px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Montserrat';
}
.sell_btn {
    text-align: center;
}
.sell_btn button {
    width: 170px;
    padding: 6px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background: #623C57;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Montserrat';
}
.teck_min {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
    opacity: .8;
}
.teck_min span {
    font-size: 15px;
    opacity: .7;
    text-transform: capitalize;
}
.teck_min span i{
    margin-right: 5px;
}