img {
    max-width: 100%;
}

h2.single-car-title {
    font-size: 25px;
    font-weight: 700;
    padding: 23px 0;
    font-family: 'Montserrat';
}

.car-detail h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.car-detail p {
    font-size: 17px;
    color: #9f8e8e;
    line-height: 1.7;
    font-family: 'Montserrat';
}

.car-overview-boxe i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #623d57;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
}

.car-overview-boxe span {
    font-size: 17px;
    font-weight: 500;
    color: #969595;
    padding-left: 10px;
    font-family: 'Montserrat';
}

.car-overview-boxe {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc5e;
}

.car-large-img {
    width: 100%;
    height: 100%;
}

.car-gl-img img {
    cursor: pointer;
    width: 100%;
}

.car-gl-images .col-md-6 {
    padding: 5px;
    margin-bottom: 0 !important;
}

.car-gallery .col-md-8 {
    padding-right: 5px;
}

.single-car-body {
    background: #cccccc1f;
}

.single-car-desc {
    background: #fff;
}

.single-car-overview {
    background-color: #fff;
}

.car-header .single-car-markshare:hover {
    color: #623d57;
}