.my_inquires {
    padding: 10px;
  }
  .my_inquires h4{
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    font-family: 'Montserrat';
  }
  .my_inquires h4::before{
    position: absolute;
    content: "";
    left: 1%;
    bottom: -4px;
    width: 8%;
    height: 2px;
    background: #623c57;
  }
.auction_car_aria {
    padding: 25px;
}
.inquires_menu {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inquires_menu button {
    width: 20%;
    border: none;
    padding: 7px 0;
    color: #7E5472;
    font-size: 16px;
    background: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 5%;
    border-radius: 25px;
    border: 1px solid #E4E5E8;
    font-family: 'Montserrat';
}
.new_tecket {
    position: relative;
    right: -35px;
}
.new_tecket button {
    border: none;
    background: #623C57;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-transform: capitalize;
    width: 180px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    font-family: 'Montserrat';
}
.inqiresactive{
    background: #7E5472 !important;
    color: #fff !important;
}
.Ticket_item {
    background: #fff;
    padding: 25px;
    margin-bottom: 20px;
    border-bottom: 4px solid #623C57;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image_div {
    width: 30%;
    margin: auto;
}
.tocken_no h6 {
    text-align: center;
    padding: 8px;
    text-transform: capitalize;
    font-size: 13px;
    opacity: .8;
    font-family: 'Montserrat';
}
.tocken_no h6 span{
    font-weight: 700;
    color: #623c57;
    font-size: 16px;
    font-family: 'Montserrat';
}
.massege_div p {
    font-size: 14px;
    width: 100%;
    opacity: .8;
    font-family: 'Montserrat';
}
.status_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status_div span,.massege_div h6{
    font-weight: 600;
    opacity: .8;
    font-family: 'Montserrat';
}

.status_div button {
    width: 70%;
    border: none;
    text-transform: capitalize;
    padding: 3px;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat';
}
.greenLight{
    background: #00CCAD;
}
.wornigColor{
    background: #FCAB33;
}
.redColor{
    background: #E53E71;
}