
.Nav_row {
    background: #623C57;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #8E6B84;
    position: relative;
}
.Nav_row::after{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background:#7F5472 ;
}
.logo_search {
    display: flex;
    align-items: center;
}
.logo {
    width: 27%;
    margin-right: 20px;
}
.search_fild {
    width: 100%;
}
.search_fild input{
    background: #7E5472;
    border: none;
    outline: none;
    border-radius: 10px;
}
.search_fild input:focus{
    background: #7E5472;
    outline: none;
    border: none;
}
.search_fild input::-webkit-input-placeholder { 
    color: #fff;
  }
.serch_icon i {
    color: #fff;
    line-height: 36px;
}

.serch_icon {
    position: relative;
    left: -40px;
}
.menu_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_right a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.menu_right a button {
    background: #7E5472;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    border: 1px solid #7E5472;
    color: #fff;
    line-height: 28px;
    text-align: center;
    transition: .3s;
}
.menu_right a button:hover{
    border: 1px solid #fff;
}
.menu_right a:hover{
    color: #fff;
}
.menu_right a i{
    font-size: 20px;
}





.mobil_device{
    display: none;
}
@media (max-width:200px)and(min-width:768px) {
    
}