.tickets {
    padding: 10px;
  }
  .tickets h4 {
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
  }
  .tickets h4::before {
    position: absolute;
    content: "";
    left: 1%;
    bottom: -4px;
    width: 9%;
    height: 2px;
    background: #623c57;
  }
  .top_ticket {
    display: flex;
}
.ticket_item {
    width: 24%;
    padding: 5px 10px;
    border-left: 3px solid #623C57;
    background: #fff;
    margin-right: 25px;
}
.ticket_item p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.ticket_item h6 {
    font-size: 15px;
    padding: 5px;
    font-weight: 700;
}
.commonColor{
    color: #7E5472;
}
.lighgreen{
    color: #00CCAD;
}
.wornigcolor{
    color: #FCAB33 !important;
}
.rejeactColor{
    color: #E53E71;
}

.ticket_menu {
    width: 75%;
    display: flex;
    align-items: center;
}
.ticket_menu button {
    width: 16%;
    border: none;
    padding: 5px 0;
    color: #7E5472;
    font-size: 14px;
    background: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 5%;
    border-radius: 25px;
    border: 1px solid #E4E5E8;
}

.inqiresactive{
    background: #7E5472 !important;
    color: #fff !important;
}

/* table css */

.table_section {
    margin: 0;
    padding: 0 !important;
    border: 1px solid #E7E8EB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table_div{
    margin: 0 !important;
}
table th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
  }
  
  table th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
  }
thead.table_head {
    background: #623C57;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
tr.table_head_row {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
tr.table_head_row th {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 10px;
}

tbody.table_body {
    border-top: none !important;
    border-style: hidden !important;
    
}
.table>:not(:first-child) {
    border-top: 5px solid white !important;
}
.table_body_row {
    padding: 6px 0;
    line-height: 28px;
}
.table_body_row td {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    opacity: .7;
    border: none !important;
}
.table_body_row td div{
    width: 100px;
    margin: auto;
}
tr.table_body_row td button {
    border-radius: 10px;
    padding: 0 9px;
    height: 25px;
    border: 1px solid #623C57;
    color: #623C57;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 22px;
}
tr.table_body_row td button:first-child{
    margin-right: 5px;
}
.bglighgreen{
    background: #00CCAD !important;
    border-radius: 50px;
    color: #fff;
}
.bgProgress {
    background: #f3a32a !important;
    border-radius: 50px;
    color: #fff;
}
.bgRejeact{
    background: #f8316c !important;
    border-radius: 50px;
    color: #fff;
}