
.footer_bg{
  background: #623c57;
}
.footer_row {
  
  padding: 30px 0;
}

.footer_logo {
  width: 133px;
  margin: auto;
}

.footer_heading {
  text-transform: uppercase;
  color: #fff;
}
.footer_heading h2 {
  font-size: 22px;
}
.email_info{
  text-transform: lowercase;
}
.footer_menu {
  margin-left: 10px;
}
.footer_menu li {
  list-style: none;
}
.footer_menu li a,
p > a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
  opacity: 0.8;
  font-weight: 400;
  transition: .3s;
}
.footer_menu li a:hover,
p > a:hover {
  color: #fff;
  opacity: 0.5;
}


.footer_bottom{
  background: #7E5472;
}
.footer_bottom p {
  color: #fff;
  margin-left: 30px !important;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
}
.social_icon a {
  padding: 0 10px;
  color: #fff;
}

.social_icon {
  text-align: center;
  line-height: 40px;
  margin-left: 100px;
}